* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background-color: rgb(200, 200, 200);
}
header {
  background-color: black;
  text-align: center;
}
h1 {
  padding: 10px;
  font-size: 4rem;
  color: rgb(200, 200, 200);
  font-family: 'Quintessential', cursive;
}
main {
  margin: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
h2 {
  font-size: 3rem;
  font-family: 'Quintessential', cursive;
}
h3 {
  font-size: 2rem;
  font-family: 'Quintessential', cursive;
}
h4 {
  font-size: 1.5rem;
  font-family: 'Quintessential', cursive;
}
h5 {
  font-size: 1rem;
  font-family: 'Quintessential', cursive;
}
#search {
  padding: 10px;
  flex: 30%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
#searchInput {
  width: 100%;
  border-bottom: 5px dotted black;
  padding: 10px;
}
input, button {
  font-size: 1.5rem;
  padding: 5px;
  margin: 10px;
  width: 96%;
  border-radius: 10px;
  font-family: 'Quintessential', cursive;
}
button {
  background-color: black;
  color: rgb(200, 200, 200);
}
#display {
  padding: 10px;
  flex: 70%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  line-height: 2;
}
#current {
  padding: 10px;
  width: 100%;
  border-bottom: 5px dotted black;
}
#currentCity {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}
#currentCityInfo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
  flex-wrap: wrap;
}
#forecast {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#fiveDays {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.days {
  margin: 10px;
  width: 150px;
  flex-direction: column;
}